.text {
  margin-top: 20px;
  color: #81DC18;
}
.lead {
  color: #ffffff;
}
h2 {
  color: #81DC18;
}

.table {
}
.hide-sm {
  color: #000;
}
.title-table {
  color: #81DC18;
}
.platform-table {
  color: #81DC18;
}
.hours-table {
  color: #81DC18;
}
.text-color {
  color: #81DC18;
}
.btn-delete {
  
}
.bg-gosquad {
  background-color: #171717!important;
}