.profile-grid {
  background: #81DC18;
  border: #81DC18;
}

.profile-top {
  background: #171717;
  width: 1026px;
  height: 460px;
  margin-top: 5px;
  margin-left: 5px;
}

.round-img {
  margin-top: 50px;
  width: 280px;
  height: 280px;
}

.text-color {
  color: #000000;
}

.platform {
  font-size: 20px;
}

.profile-exp {
  background: #171717;
  width: 453px;
  margin-left: 5px;

}

.profile-edu {
  background: #171717;
  width: 567px;
  margin-right: 5px;
}

.location {
  margin-bottom: 20px;
}

.text-color-black {
  color: #ffffff;
}

.text-color-white {
  color: white;
}

.profile-about {
  background: #171717;
  width: 1026px;
  height: 128px;
  margin-left: 5px;
}

a {
  color: white;
}


