.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__top {
    margin-bottom: 120px;
    text-align: center;

    h1 {
      color: #FFFFFF;
      font-size: 150px;
      margin-bottom: 5px;
    }

    p {
      font-size: 20px;
      color: #FFFFFF7A;
    }

    &__login {
      text-align: center;
      display: block;
      font-size: 30px;
      margin-top: 50px;

      button {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 25px;
        width: 40%;
        height: 40px;
        background: #81DC18;
        border-color: #81DC18;
        border-radius: 4px;
        color: #171717;
        text-align: center;
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #FFFFFF;
      }
    }

    &__register {
      text-align: center;
      display: block;
      font-size: 30px;
      margin-top: 20px;

      button {
        align-items: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 25px;
        height: 40px;
        width: 40%;
        background: #2B2B2B;
        border-color: #2B2B2B;
        border-radius: 4px;
        color: #81DC18;
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #81DC18;
      }
    }
  }
}

.btn-login {
  text-align: center;
  vertical-align: center;
  color: #171717;
}